/* nuxeo-labs-image-cropper.css */
.nxlab_button {
	height: 30px;
	padding-left: 8px;
	padding-right: 8px;
}

.nxlab_cropfield {
	width: 50px !important;
	background-color: #ebebeb !important;
	text-align: center;
}

.nxlab_cropfieldlabel {
	padding-left: 10px;
}

.nxlab_edit {
	vertical-align: middle;
}

.nxlab_headerInfo {
  padding-left: 15px;
  font-size: smaller;
  color: black;
  font-weight: normal;
  font-style: italic;
}